<?php
// Button Authorization by user name
// DO NOT change variable name only
// user name(s) in quotes ending with a semicolon
// Multiple login names per item can be defined
// EXAMPLE- $PERMUSER=array("admin1","admin2","joe","sam");
// Names must exactly match login names including case.
// YOU MUST HAVE THE SYNTAX CORRECT IN THIS FILE 
// OR SUPERMON WILL NOT RUN!!!
// NOTE - Buttons marked with (*) are considered
// a security risk to make public others at your discretion!!

// EXAMPLE-
//
// Connect button
//$CONNECTUSER=array("admin","joe","sam");
// Disconnect button
//$DISCUSER=array("admin","bill","sam");
//
// END EXAMPLE

// Perm checkbox
$PERMUSER=array("admin");

// Connect button
$CONNECTUSER=array("admin");

// Disconnect button
$DISCUSER=array("admin");

// Monitor button
$MONUSER=array("admin");

// Local Monitor button
$LMONUSER=array("admin");

// DTMF button (*)
$DTMFUSER=array("admin");

// Asterisk lookup button
$ASTLKUSER=array("admin");

// RPT stats button
$RSTATUSER=array("admin");

// Bubble button
$BUBLUSER=array("admin");

// Favorites button
$FAVUSER=array("admin");

// Control Panel button (*)
$CTRLUSER=array("admin");

// Configuration Editor button (*)
$CFGEDUSER=array("admin");

// ASterisk Reload Button (*)
$ASTRELUSER=array("admin");

// Asterisk start button (*)
$ASTSTRUSER=array("admin");

// Asterisk stop button (*)
$ASTSTPUSER=array("admin");

// Asterisk restart button (*)
$FSTRESUSER=array("admin");

// Asterisk reboot button (*)
$RBTUSER=array("admin");

// Hamvoip update check button
$UPDUSER=array("admin");

// Hamvoip howto button
$HWTOUSER=array("admin");

// Allstar wiki button
$WIKIUSER=array("admin");

// CPU status button (*)
$CSTATUSER=array("admin");

// Allstar status button
$ASTATUSER=array("admin");

// Allstar node database button 
// Only active if using file node database
$EXNUSER=array("admin");

// Node info button
$NINFUSER=array("admin");

// Active node button
$ACTNUSER=array("admin");

// All nodes button
$ALLNUSER=array("admin");

// Database button (*)
// Note button only availabble if 
// setup in global.inc
$DBTUSER=array("admin");

// GPIO button (*)
$GPIOUSER=array("admin");

// Linux Log button
$LLOGUSER=array("admin");

// Asterisk log button
$ASTLUSER=array("admin");

// Connection log button
$CLOGUSER=array("admin");

// IRLP LOG button
$IRLPLOGUSER=array("admin");

// Web access log button (*)
$WLOGUSER=array("admin");

// Web error log button (*)
$WERRUSER=array("admin");

// Restrict button (*)
$BANUSER=array("admin");

// simpleusb button
$SUSBUSER=array("admin");

// System Info button (*)
$SYSINFUSER=array("admin");

?>
