; This is the user1-allmon.ini example file
; This ini file would be used if it was mapped
; from the user1 username in the authini.inc
; file. This file could be anyname desired
; mapped in authini.inc but username-admin.ini
; is preferred to indicate what it is.
;
; Any line started with a semicolon
; is a comment. It is often good to
; add comments to your ini files to
; remind you of things you have done.
;
; This file is used if username/ini selection
; is active and there is no login. In that case
; if this file does not exist the allmon.ini
; file is used. Configure this file with the 
; nodes and features you want NO login users
; to see. If username/ini selection is inactive
; the allmon.ini files is used for NO log users.
;
; This is the first node definition
; Change the number to a node you
; want to monitor.

[1998]
; The host is the URL or IP address of the
; server where the node resides. If it is on
; the same server as this file then it would
; be 127.0.0.1 - 5038 is the standard manager
; port. It can be changed here and in manager.conf
host=127.0.0.1:5038
;
; The user/pw here must match that in manager.conf
user=admin
passwd=
;
; Determines if you want this to be a menu item.
menu=yes
;
; Attaches the header label Nodes to the system group
; It will be listed under Nodes in the header
system=Nodes
;
; Determines if theURL for the node is hidden
hideNodeURL=no
;
; Example to add URL for an available audio feed
listenlive="https://www.Broadcastify.com/listen/feed/...."
;
; Example to add URL to display of audio archive files
archive="http://node.ip.hamvoip.org:8080/supermon2/custom/node"

; Add additional content for the NO log user here


